
head {
    margin: 0;
    padding: 0;
}
body{
    color: brown;
    background-color: bisque;
    

}
h2{
    width:100%;
    background-position: center;
    background-size: cover;
    background-color: greenyellow;
    text-align: center;
}

img{
    width: 400px;

    margin: auto;
    
}
icon{
    width: 200px;
    float: left;
    height:70 px;
}
.log{
    color:aqua;
    font-size:35px;
    font-family:40px
}
ul{
    background-image:-moz-radial-gradient()
}
.img{
    text-align: center;
    font-weight: bolder;
}
head{
    text-align: center;
    
}
h1{
    text-align:justify
    color:blueviolet
}
.wrapper{
background-color:brown;
}